@import "../assets/styles/colors";
@import "../assets/styles/spacing";

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}

.ice {
	background: $ice;
}

.water {
	background: $water;
}

.grass {
	background: $grass;
}

.poison {
	background: $poison;
}

.ground {
	background: $ground;
}

.psychic {
	background: $psychic;
}

.flying {
	background: $flying;
}

.fire {
	background: $fire;
}

.fighting {
	background: $fighting;
}

.fairy {
	background: $fairy;
}

.electric {
	background: $electric;
}

.rock {
	background: $rock;
}

.bug {
	background: $bug;
}

.ghost {
	background: $ghost;
}

.dark {
	background: $dark;
}

.normal {
	background: $normal;
}

.steel {
	background: $steel;
}

.dragon {
	background: $dragon;
}
