@import "../assets/styles/colors";
@import "../assets/styles/breakpoints";
@import "../assets/styles/pixelated";

.container {
	padding: 0 2rem;
}

.main {
	min-height: 90vh;
	padding: 4rem 1.25rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	margin: 1rem 0;
	line-height: 1.15;
	font-size: 4rem;
	color: $pokeball-red;
	text-align: center;
	position: relative;
	padding-left: 1.5rem;
	@media (max-width: $md) {
		font-size: 3rem;
	}
	& > span {
		color: $pokeball-off-white;
	}
}

.link {
	padding: 1rem;
	border-color: $pokeball-white;
	border-radius: 5rem;
	&:hover {
		background-color: white;
		color: black;
		transition-duration: 400ms;
	}
	&:focus {
		outline: 1rem solid red;
	}
}
