@import "../../assets/styles/colors";

.PokesearchTemplate {
	&__header {
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
		background-color: $pokeball-black;
		border-radius: 0 0 2px 2px;
		padding: 1rem;
	}
}
